* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
    --background-primary: #eee;
    --contrast-priamry: steelblue;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: none;
    float: right;
}

nav {
    background-color: var(--contrast-priamry);
    padding: 2px;
}

nav a {
    color: var(--background-primary);
    padding: 10px;
    display: block;
}

h1 {
    color: var(--contrast-priamry);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 370px;
    left: 135px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}